In [1]:
###This is for practice of the MySQL with the python 


import mysql.connector

In [2]:
###To connect to the MYSQL database by using the python


conn=mysql.connector.connect(host="localhost",user="root",passwd="Pavan@123")

In [3]:
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EFCF927FD0>

In [4]:
c1=conn.cursor()

In [5]:
print(c1.execute("show databases"))

None

In [6]:
print(c1.fetchall())

[('converse_ai',), ('db1',), ('db2',), ('db3',), ('db5',), ('db_ass1',), ('db_ass2',), ('db_py',), ('information_schema',), ('music_db',), ('music_db1',), ('mysql',), ('performance_schema',), ('prac_data',), ('sakila',), ('sys',), ('world',)]

In [12]:
print(c1.execute("use converse_ai"))

None

In [8]:
print(c1.fetchall())

[]

In [13]:
c1.execute("show tables")

In [14]:
print(c1.fetchall())

[('conversation_analysis',)]

In [11]:
c1.execute("create database db_py; ")

DatabaseError: 1007 (HY000): Can't create database 'db_py'; database exists

In [ ]:
print(c1.fetchall())

[]

In [ ]:
c1.execute("show databases")

In [ ]:
print(c1.fetchall())

[]

In [ ]:
c1.execute("use db_py")

In [ ]:
c1.execute("create table t1(id int,name VARCHAR(50),age int ,salary int);" )

ProgrammingError: 1050 (42S01): Table 't1' already exists

In [ ]:
print(c1.fetchall())

[]

In [ ]:
c1.execute("show tables;")

In [ ]:
c1.fetchall()

[('t1',)]

In [ ]:
c1.execute("insert into t1 values(1,'pavan',25,25000);")

In [ ]:
c1.fetchall()

[]

In [ ]:
c1.execute("select * from t1;   ")

In [ ]:
r1=c1.fetchall()

for i in r1:
    print(i)

(1, 'pavan', 25, 25000)
(1, 'pavan', 25, 25000)

In [ ]:
#conn.close()

In [ ]:
conn.commit()

In [ ]:
c2=conn.cursor()

In [ ]:

c2.execute("show databases;")

r2=c2.fetchall()

for i in r2:
    print(i)

('db1',)
('db2',)
('db3',)
('db_ass1',)
('db_ass2',)
('db_py',)
('information_schema',)
('music_db',)
('music_db1',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [ ]:
c2.execute("create table t2 (id int,name varchar(50),age int,salary int);")

In [ ]:
c2.execute("insert into t2(id,name,age,salary) values(1,'pavan',25,25000), (2,'kumar',26,26000) , (3,'kumar',26,26000);")

In [ ]:
c2.execute("select * from t2;")

In [ ]:
r3=c2.fetchall()

In [ ]:
for i in r3:
    print(i)

(1, 'pavan', 25, 25000)
(2, 'kumar', 26, 26000)
(3, 'kumar', 26, 26000)

In [ ]:
conn.commit()

In [ ]:
conn.close()

In [ ]:
conn.execute("show databases;")

AttributeError: 'CMySQLConnection' object has no attribute 'execute'

In [15]:
c1.execute("show tables")
print(c1.fetchall())

[('conversation_analysis',)]

In [25]:
c1.execute("select * from conversation_analysis")

InternalError: Unread result found

In [26]:
print(c1.fetchall())

[]