In [3]:
###Here we are going to read the datsets from sql database

In [4]:
##Importing the required libraries

In [5]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\anaconda\lib\site-packages (2.2.9)

In [6]:
import mysql.connector

In [10]:
con=mysql.connector.connect(host='localhost',user='root',password='Pavan@123')

In [11]:
c1=con.cursor()

In [12]:
c1.execute("show databases")

In [14]:
print(c1.fetchall())

[('clarity_ai',), ('converse_ai',), ('db1',), ('db2',), ('db3',), ('db5',), ('db_ass1',), ('db_ass2',), ('db_py',), ('information_schema',), ('music_db',), ('music_db1',), ('mysql',), ('npn',), ('performance_schema',), ('prac_data',), ('sakila',), ('sys',), ('world',)]

In [25]:
###Working with pandas 
import pandas as pd

In [27]:
data=pd.read_sql_query("select * from db1.student",con)

C:\Users\pavan\AppData\Local\Temp\ipykernel_9972\2407466834.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query("select * from db1.student",con)

In [28]:
data

       name  roll  marks
0     PAVAN  36.0  100.0
1    PARESH  22.0   99.0
2  SHREYASH  29.0   99.0
3     SAHIT  13.0   56.0
4        OM  34.0   96.0
5    ANIKET  16.0   89.0