The exploration of Nosql databses MongoDB in Python.

In [1]:
###Building the connection with the database



from pymongo import MongoClient
client=MongoClient("localhost",27017)

In [2]:
###creating the database

db1=client["py_database-1"]   ###creating and storing in the variable db1 for future uses 


##or method 2


db2=client.py_database_2

In [3]:
###creating the collection 

coll =db1.coll1  ##this is  collection name   .The variables are use to store the collection and database name and they can commit to database

In [4]:
### as the data in mongoDB is store in the from of dictionary so we can create the  dictionary 



dict1={"name":"Pavan","age":23,"city":"Bangalore"}

dict2={"name":"Rahul","age":24,"city":"Bangalore"}

dict3={"name":"Raj","age":25,"city":"Bangalore"}

dict4={"name":"Ravi","age":26,"city":"Bangalore"}


dict5={"abhi":"avi","age":32,"city":"pune"}

In [5]:
##now lets insert the data into the collection 

coll.db1.insert_one(dict1)  ##this will insert the data into the collection

InsertOneResult(ObjectId('658bfb36d2d05d633f8ab12e'), acknowledged=True)

In [6]:
coll.db1.insert_many([dict4,dict2,dict3,dict5])  ##this will insert the multiple data into the collection

InsertManyResult([ObjectId('658bfb36d2d05d633f8ab12f'), ObjectId('658bfb36d2d05d633f8ab130'), ObjectId('658bfb36d2d05d633f8ab131'), ObjectId('658bfb36d2d05d633f8ab132')], acknowledged=True)

In [7]:
for i in (coll.db1.find()):
    print(i)

{'_id': ObjectId('658be957ddb6e8d98fb864a7'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bf662ddb6e8d98fb864a9'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bf66eddb6e8d98fb864ab'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bf66eddb6e8d98fb864ac'), 'name': 'Ravi', 'age': 26, 'city': 'Bangalore'}
{'_id': ObjectId('658bf66eddb6e8d98fb864ad'), 'name': 'Rahul', 'age': 24, 'city': 'Bangalore'}
{'_id': ObjectId('658bf66eddb6e8d98fb864ae'), 'name': 'Raj', 'age': 25, 'city': 'Bangalore'}
{'_id': ObjectId('658bf66eddb6e8d98fb864af'), 'abhi': 'avi', 'age': 32, 'city': 'pune'}
{'_id': ObjectId('658bfb36d2d05d633f8ab12e'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bfb36d2d05d633f8ab12f'), 'name': 'Ravi', 'age': 26, 'city': 'Bangalore'}
{'_id': ObjectId('658bfb36d2d05d633f8ab130'), 'name': 'Rahul', 'age': 24, 'city': 'Bangalore'}
{'_id': ObjectId('658bfb36d2d05d633f8ab131'), 'name': 'Raj', 'age': 25, 'city': 'Bangalore'}
{'_id': ObjectId('658bfb36d2d05d633f8ab132'), 'abhi': 'avi', 'age': 32, 'city': 'pune'}

In [8]:
for i in (coll.db1.find({"name":"Pavan"})):
    
    print(i)

{'_id': ObjectId('658be957ddb6e8d98fb864a7'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bf662ddb6e8d98fb864a9'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bf66eddb6e8d98fb864ab'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}
{'_id': ObjectId('658bfb36d2d05d633f8ab12e'), 'name': 'Pavan', 'age': 23, 'city': 'Bangalore'}

In [9]:
###updating the values in the collection 

query={"name":"pavan"}

update_query1={"$set":{"age":50}}

coll.db1.update_one(query,update_query1)

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)

In [11]:
# for i in (coll.db1.aggregate([{"$group":{"name"}}])):
#     print(i)